img {
    border-radius: 20px;
    padding: 3px;


}


.div {
    border: 5px dashed red;
    border-radius: 20px;

}


p {
    display: inline-block ;
    border-radius: 20px;




}


.box {
    display: inline-block;
    border:5px solid blue;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;



}
